@import "tailwindcss";

@theme {
  /* Định nghĩa màu xanh Predator đặc trưng */
  --color-predator: #00ccff;

  /* Bạn có thể định nghĩa thêm các màu bổ trợ khác */
  --color-dark-surface: #111111;
  --color-dark-border: #1f1f1f;
}

/* Các tùy chỉnh CSS khác của bạn */
body {
  @apply bg-slate-50 text-slate-900;
}
